.card {
  width: 500px;
  display: flex;
  background-color: #8cc869;
  border: 1px solid white;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 16px 16px;
  gap: 20px;
  align-items: center;
}
.img_box {
  width: 110px;
  height: 110px;
  display: flex;
}
.title {
  font-size: 32px;
  margin: 0;
}
.description {
  font-size: 18px;
  margin: 0;
  padding-top: 16px;
}
