.page {
  background-color: #d9d9d9;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 108vh;
  font-family: "Titillium Web", sans-serif;
}

.titulo {
  margin-top: 5dvh;
  font-weight: bold;
  font-size: 56px;
  color: #2b4840;
  margin-bottom: 5dvh;
}

.carrossel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.imagemContainer img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.arrow {
  background-color: #8cc869;
  border-radius: 50%;
  border: none;
  padding: 12px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow img {
  width: 100%;
  height: 100%;
  filter: brightness(0) invert(1);
  padding-top: 15px;
}

.left {
  animation: moverEsquerda 1.5s ease-in-out infinite;
}

.left img {
  transform: rotate(90deg);
}

.right {
  animation: moverDireita 1.5s ease-in-out infinite;
}

.right img {
  transform: rotate(-90deg);
}

@keyframes moverEsquerda {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moverDireita {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.fadeIn {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
