.page {
  background-color: #2b4840;
  background-image: url("../../assets/img/header.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 75vw;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 0;
  padding-top: 40vw;
}
.description {
  color: white;
  line-height: 38px;
  font-size: 2rem;
  width: 70%;
}
.btn {
  font-size: 2rem;
  padding: 16px 24px;
  border-radius: 10px;
  color: white;
  background-color: #8cc869;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn:hover {
  cursor: pointer;
  background-color: #2b4840;
}
.arrow {
  cursor: pointer;
  margin: 10px;
  width: 52px;
  padding: 17px 9px 0px 9px;
  border-radius: 50%;
  border: 3px solid #8cc869;
  transition: 1s;
}
.arrow:hover {
  animation: bounceIn 1s infinite 1ms ease-in;
}

@keyframes bounceIn {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
}

@media (max-width: 820px) {
  .page {
    background-image: url("../../assets/img/header_mobile.png");
    background-size: contain;
    background-position-y: 0;
    min-height: 140vw;
  }
  .content {
    padding-top: calc(85vw + 70px);
    gap: 20px;
  }
  .description {
    font-size: 16px;
    line-height: 18px;
    width: 85%;
  }
  .btn {
    font-size: 14px;
    padding: 6px 24px;
    border-radius: 5px;
  }
  .arrow {
    margin: 10px;
    width: 22px;
    padding: 8px 4px 0px 4px;
    border: 1px solid #8cc869;
  }
}
