.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #2b4840;
}
.color_filter {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.title {
  color: white;
  font-family: "Titillium Web", sans-serif;
  font-size: 56px;
}
