.page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-family: "Titillium Web", sans-serif;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding: 0px 5vw;
  box-sizing: border-box;
}

.scrolled {
  background-color: #2b4840;
  box-shadow: 0 15px 12px rgba(0, 0, 0, 0.3);
}

.btn {
  margin-top: 5px;
  padding: 10px 34px;
  border-radius: 8px;
  color: white;
  background-color: #8cc869;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

/* Hover */
.btn:hover {
  background-color: #2b4840;
  cursor: pointer;
  transform: scale(1.03);
}

.icon {
  height: 40px;
  margin-left: 4dvh;
}

.nav {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.nav_a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 20px 8px;
  transition: color 0.2s ease;
  border-bottom: solid 2px transparent;
  border-top: solid 2px transparent;
}

.nav_a:hover {
  color: #8cc869;
  border-bottom: solid 2px #8cc869;
  border-top: solid 2px #8cc869;
}
