.page {
  background-color: #162116;
  display: flex;
  color: #2b4840;
  justify-content: space-between;
  padding: 96px 4vw 48px 4vw;
  box-sizing: border-box;
  align-items: center;
  color: white;
}
.marca {
  font-size: 18px;
}
.contact_area {
  min-width: 55vw;
  margin-top: 52px;
}
.address_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back_btn {
  background-color: transparent;
  padding: 2px 6px 2px 16px;
  border-radius: 25px;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  display: flex;
  line-height: 36px;
  gap: 40px;
  text-decoration: none;
}
.back_btn:hover {
  background-color: white;
  color: #162116;
  cursor: pointer;
}
.address {
  margin: 0;
  text-align: start;
}
.social_area {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin: 10px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  align-items: center;
}
.social {
  display: flex;
  gap: 24px;
}
.globe {
  padding: 7px 120px 7px 16px;
  border-radius: 25px;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  background-image: url("../../assets/icons/globe.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 186px;
}
.social a {
  height: 50px;
  width: 50px;
  background-size: contain;
}
.instagram {
  background-image: url("../../assets/icons/InstagramIcon.svg");
}
.instagram:hover {
  background-image: url("../../assets//icons/InstagramIcon_hover.svg");
}
.whatsapp {
  background-image: url("../../assets/icons/WhatsappIcon.svg");
}
.whatsapp:hover {
  background-image: url("../../assets/icons/WhatsappIcon_hover.svg");
}
.linkedIn {
  background-image: url("../../assets/icons/LinkedInIcon.svg");
}
.linkedIn:hover {
  background-image: url("../../assets/icons/LinkedInIcon_hover.svg");
}
@media (max-width: 820px) {
  .page {
    flex-direction: column;
    padding-top: 40px;
  }
  .back_btn {
    font-size: 12px;
    gap: 20px;
    padding: 2px 6px 2px 16px;
    line-height: 24px;
    gap: 0px;
  }
  .back_btn svg {
    height: 24px;
    width: 24px;
  }
  .address {
    font-size: 12px;
  }
  .social {
    gap: 12px;
  }
  .social a {
    height: 32px;
    width: 32px;
  }
  .globe {
    padding: 5px 76px 5px 16px;
    border-radius: 25px;
    border: 2px solid white;
    color: white;
    font-size: 12px;
    line-height: 24px;
    margin: 0;
    background-position-x: 120px;
    background-size: 30px;
  }
  .contact_area {
    min-width: 80vw;
    margin-top: 28px;
  }
  .address_area {
    gap: 20px;
  }
  .logo {
    width: 180px;
  }
  .marca {
    display: none;
  }
}
