.contatoSection {
  min-height: 620px;
  background-color: #2b4840;
  background-image: url("../../assets/img/FundoContato.svg");
  background-repeat: repeat-x;
  background-size: 50% auto;
  background-position: left center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.textoContato {
  text-align: left;
  width: 80vw;
}

.titulo {
  color: #8cc869;
  font-size: 56px;
  margin-bottom: 0.1rem;
}

.subtitulo {
  color: white;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 0;
  line-height: 24px;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80vw;
}

.inputLinha {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.input {
  flex: 1;
  padding: 1rem 1.5rem;
  border: 1px solid white;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.5);
  color: #ffff;
  font-size: 18px;
}

.textarea {
  padding: 1rem 1.5rem;
  border: 1px solid white;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.5);
  color: #ffff;
  font-size: 18px;
  resize: none;
  height: 120px;
}
.input::placeholder,
.textarea::placeholder {
  color: white;
  opacity: 1; /* garante visibilidade total */
}

.sendBtn {
  font-size: 24px;
  background-color: #8cc869;
  border: solid 1px #8cc869;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px;
  color: #2b4840;
  font-family: "bold";
  border-radius: 12px;
}
.sendBtn svg {
  margin-top: 3px;
}
.sendBtn:hover {
  cursor: pointer;
  background-color: #2b4840;
  color: #8cc869;
}
@media (max-width: 820px) {
  .titulo {
    font-size: 24px;
  }
  .contatoSection {
    padding-bottom: 50px;
  }
  .inputLinha {
    flex-direction: column;
    gap: 16px;
  }
}
