.absolute {
  position: absolute;
  left: calc(100vw - 418px);
  display: flex;
  height: 92vh;
  margin-top: 4vh;
}
.celula {
  min-height: 889px;
}
.page {
  background-color: #8baa93;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100vh;
  color: #2b4840;
  text-align: start;
}
.text_area {
  padding: 50px;
  box-sizing: border-box;
}
.title {
  font-size: 56px;
  width: 100%;
  padding: 50px;
  margin: 0;
  box-sizing: border-box;
}
.subtitle {
  font-size: 40px;
}
.subtitle_area {
  width: calc(100% - 418px);
  display: flex;
  gap: 50px;
}
.description {
  font-size: 28px;
  width: calc(100% - 418px);
}
.separator {
  border-color: #2b4840;
}
