.absolute {
  position: absolute;
  left: calc(100vw - 418px);
  display: flex;
  height: 92vh;
  margin-top: 4vh;
}
.celula {
  min-height: 889px;
}
.page {
  background-color: #8baa93;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 100vh;
  color: #2b4840;
  text-align: start;
}
.text_area {
  padding: 60px;
  padding-top: 0;
  box-sizing: border-box;
}
.title {
  font-size: 56px;
  width: 100%;
  padding: 60px;
  margin: 0;
  box-sizing: border-box;
}
.subtitle {
  font-size: 40px;
}
.subtitle_area {
  width: calc(100% - 418px);
  display: flex;
  gap: 50px;
}
.description {
  font-size: 28px;
  width: calc(100% - 418px);
}
.separator {
  border-color: #2b4840;
}
.card_area {
  display: flex;
  gap: 32px;
  padding: 16px 60px;
}
.displaced_line {
  padding-left: 180px;
  padding-bottom: 40px;
}

@media (max-width: 820px) {
  .page {
    align-items: center;
    min-height: 1000px;
  }
  .title {
    font-size: 40px;
    padding: 40px 40px;
    text-align: center;
  }
  .subtitle_area {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  .subtitle {
    font-size: 16px;
    margin: 0px;
  }
  .arrow {
    transform: rotate(90deg);
    height: 33px;
  }
  .description {
    font-size: 12px;
    width: 100%;
  }
  .text_area {
    padding: 0px 40px 40px 40px;
    box-sizing: border-box;
  }
  .card_area {
    flex-direction: column;
    gap: 8px;
    padding: 4px 0px;
  }
  .displaced_line {
    padding-left: 0px;
    padding-bottom: 0px;
  }
  .absolute {
    position: absolute;
    left: 26.5vw;
    align-items: end;
    display: flex;
    height: 80vw;
    margin-top: calc(1000px - 100vw / 1.9);
  }
  .celula {
    transform: rotate(90deg);
    min-height: 100px;
    height: 100vw;
  }
}
